@import '../../sass/main.scss';

.section {
	&-content {
		&__avatar {
			display: flex;
			align-items: center;
			justify-content: left;
		}

		&__avatar > img {
			width: 100%;

			@media only screen and (max-width: $bp-m) {
				width: 50%;
			}

			@media only screen and (max-width: $bp-s) {
				width: 100%;
			}
		}

		&__info {
			& > p {
				text-align: justify;
			}
		}
	}
}

.personal-data {
	list-style: none;
	font-size: 1.8rem;
	margin-top: 2rem;
	margin-bottom: 6rem;
	&__item {
		color: $secondary;
		margin-bottom: 2rem;
		& > b {
			min-width: 10rem;
			display: inline-block;
			margin-right: 2rem;
			color: $secondary;
		}

		& > b::after {
			content: ':';
			color: currentColor;
			margin-left: auto;
		}
	}
}
