@import './variables';
@import './animations';

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // 1rem  = 10px

	@media only screen and (max-width: $bp-lg) {
		font-size: 55%; // 8px
	}
}

body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container {
	background-color: $dark;
	display: flex;
	position: relative;

	max-height: 100vh;
	height: 100vh;
}

.landing {
	flex: 1;
	overflow: auto;

	position: relative;
}

.mt-1 {
	margin-top: 1rem !important;
}

.mt-2 {
	margin-top: 1rem !important;
}
