@import './variables';
@import './animations';

@font-face {
  font-family: RobotoThin;
  src: url('../assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoLight;
  src: url('../assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoRegular;
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoMedium;
  src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoBold;
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoBlack;
  src: url('../assets/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem  = 10px

  @media only screen and (max-width: $bp-s) {
    font-size: 55%; // 8px
  }
}

body {
  box-sizing: border-box;
  font-family: 'RobotoRegular', sans-serif;
}

.container {
  background-color: $dark;
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
  z-index: 0;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}
