@import './variables';
@import './animations';

.paragraph {
	font-family: 'RobotoLight', Arial, Helvetica, sans-serif;
	color: $secondary;
	font-size: 1.8rem;
	line-height: 3rem;

	&-justify {
		text-align: justify;
		margin: 0rem 2rem;
	}
}
.paragraph-justify {
	font-family: 'RobotoLight', Arial, Helvetica, sans-serif;
	color: $secondary;
	font-size: 1.8rem;
	line-height: 3rem;
	text-align: justify;
	margin: -0.5rem 1.5rem 0rem 1.5rem;
}

h1 {
	color: $primary;
	margin: 1.5rem 0;

	& > span {
		color: $light;
	}

	&.primary {
		font-size: 5rem;
	}

	&.secondary {
		font-size: 3rem;
	}
}
