@import '../../../sass/main.scss';

.time-line {
  list-style: none;
  position: relative;

  &::after {
    content: '';
    height: 99%;
    width: 5px;
    border-left: 2px solid $gray;
    top: 8px;
    left: 22px;
    z-index: 0;
    position: absolute;
  }

  &__item {
    display: flex;
    margin-left: 60px;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-m) {
      flex-direction: column;
      margin-right: 2rem;
    }
  }

  &__date {
    font-size: 1.8rem;
    font-weight: 300;
    color: $secondary;
    position: relative;
    margin-right: 1rem;

    flex: 0 0 30%;

    &::before {
      content: '\2022';
      color: $gray;
      font-size: 60px;
      z-index: 2;
      position: absolute;
      top: -22px;
      left: -47px;
    }

    &::after {
      content: '';
      background-color: $gray;
      height: 2px;
      width: 10px;
      position: absolute;
      top: 11px;
      left: -32px;

      @media only screen and (max-width: $bp-m) {
        width: 15px;
      }
    }
  }

  &__content {
    position: relative;
    flex: 1;

    @media only screen and (max-width: $bp-m) {
      margin-top: 2rem;
    }

    & > h4 {
      font-size: 1.8rem;
      color: $light;
      font-weight: 300;
      margin-bottom: 1.5rem;
    }

    & > h3 {
      font-size: 2rem;
      color: $primary;
      font-weight: 500;
      margin-top: -0.7rem;
      margin-bottom: 0.8rem;
    }

    & > p {
      color: $secondary;
      font-size: 1.8rem;
      text-align: justify;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }

    &::after {
      content: '';
      background-color: $gray;
      height: 2px;
      position: absolute;
      top: 11px;
      left: -30px;
      width: 10px;

      @media only screen and (max-width: $bp-lg) {
        left: -40px;
        width: 20px;
      }
      @media only screen and (max-width: $bp-m) {
        display: none;
      }
    }
  }
}
