@import '../../../sass/main.scss';

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
	font-size: 1.5rem;
	border: none;
	padding: 1.5rem 4rem;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	background-color: $primary;
	color: $light !important;
	cursor: pointer;
	transition: all 0.2s;
	text-decoration: none !important;
	outline: none !important;
	position: relative;

	&:hover {
		transform: translateY(-0.4rem);
		background-color: rgba($primary, 0.7);
		box-shadow: 0 0 2rem rgba(#000, 0.3);
	}

	.loading {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		&-text {
			color: transparent !important;
		}

		&-icon {
			height: 80%;
			color: $light !important;
			animation: turn360 1s linear infinite;
		}
	}
}
