@import '../../../sass/main.scss';

.header {
  &__user {
    width: 19rem;
    height: 19rem;
    border-radius: 10rem;
    border: 5px solid $gray;
    overflow: hidden;
    padding: -10px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.load {
  transition: background-image 2s;
  animation: loading 2s ease-in-out infinite;
}
