@import '../../../../sass/main.scss';

.contact-card {
  background-color: $gray-dark;
  width: 100%;
  height: auto;
  padding: 2rem;
  border: $border-2p;
  position: relative;

  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }

  &__head {
    flex: 0 0 24%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wraper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: $gray;
    height: 5px;
    width: 100%;
    transition: all 0.5s;
  }

  &:hover {
    &::before {
      background-color: $primary;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    color: $primary;
  }

  &__title {
    color: $light;
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    padding-bottom: 1rem;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 3rem;
      width: 50px;
      height: 3px;
      background-color: $gray;
    }
  }

  &__description {
    color: $secondary;
    text-align: left;
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
}
